.title {
  text-align: center;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.id {
  text-align: center;
  margin-bottom: 60px;
}

.img_wrap {
  width: 120px;
  height: 120px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../images/done.gif');
  background-size: cover;
  background-position: center;
}

.info {
  text-align: center;
  margin-bottom: 8px;
}

.whait {
  text-align: center;
}
