*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

html body {
  background-color: #131316;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.constructor_section .constructor-element {
  max-width: 536px;
  flex-grow: 1;
}

.input__container .input {
  width: 480px;
}

.input__container + .input__container {
  margin-top: 24px;
}

/* * {
  outline: 1px solid tomato;
} */
